* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font Scale (1.2 Ratio */
  --text-100: 0.833rem; /* 13.33px */
  --text-200: 1rem; /* 16px */
  --text-300: 1.2rem; /* 19.2px */
  --text-400: 1.44rem; /* 23.04px */
  --text-500: 1.728rem; /* 27.65px */
  --text-600: 2.074rem; /* 33.18px */
  --text-700: 2.488rem; /* 39.81px */
  --text-800: 2.986rem; /* 47.78px */

  /* Spacing Scale (8px base) */
  --space-100: 0.25rem; /* 4px */
  --space-200: 0.5rem; /* 8px */
  --space-300: 1rem; /* 16px */
  --space-400: 1.5rem; /* 24px */
  --space-500: 2rem; /* 32px */
  --space-600: 2.5rem; /* 40px */

  /* Colors */
  /* --primary-color:  */
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #aaa;
}

.linktree {
}

.linktree-container {
  height: 100vh;
  padding: var(--text-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.linktree-layout {
  background-color: #000;
  height: 100%;
  border-radius: 22px;
  padding: var(--text-500) var(--text-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linktree-header {
  margin-bottom: var(--space-500);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linktree-img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin-bottom: var(--space-300);
}

.linktree-title {
  font-size: var(--text-300);
  color: #fff;
  margin-bottom: var(--space-100);
}

.linktree-description {
  color: #ddd;
  font-size: var(--text-100);
}

main {
  margin-bottom: var(--space-600);
}

.linktree-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--text-200);
  justify-content: center;
  align-items: center;
}

.linktree-link {
  width: 80%;
}

.linktree-link a:link,
.linktree-link a:visited {
  font-size: var(--text-200);
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: var(--text-200);
  text-align: center;
  border-radius: 999px;
  transition: box-shadow 0.3s;
}

.linktree-link a:hover,
.linktree-link a:active {
  background-color: #000;
  box-shadow: inset 0 0 0 2px #333;
}

.linktree-social-links {
  display: flex;
  justify-content: center;
  gap: var(--text-300);
}

.linktree-footer {
}

.footer-link:link,
.footer-link:visited {
  color: white;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* Media queries */
/* IPhone SE LandScape height: 630px */
@media (max-height: 41em) {
  .linktree-container {
    height: auto;
  }
}
